/* style for xbox */
.xbox_up,
.xbox_down,
.xbox_left,
.xbox_right
{
	border: 4px solid #666666;
	background: #777777;
}

.xbox_up.state-pressed,
.xbox_down.state-pressed,
.xbox_left.state-pressed,
.xbox_right.state-pressed
{
    border-color: #222222;
    background: #1e1e1e;
}

.xbox_upleft,
.xbox_upright,
.xbox_downleft,
.xbox_downright
{
	border: 4px solid #444444;
	background: #555555;
}

.xbox_upleft.state-pressed,
.xbox_upright.state-pressed,
.xbox_downleft.state-pressed,
.xbox_downright.state-pressed
{
	border-color: #1d1d1d;
	background: #191919;
}

.xbox_A
{
    border: 4px solid #666666;
    background: #22CC26;
}
.xbox_A.state-pressed
{
    background: #126E14;
    border-color: #222222;
}

.xbox_B
{
    border: 4px solid #666666;
    background: #FF330C;
}
.xbox_B.state-pressed
{
    background: #AD2712;
    border-color: #222222;
}

.xbox_X
{
    border: 4px solid #666666;
    background: #1A01FA;
}
.xbox_X.state-pressed
{
    background: #1501C7;
    border-color: #222222;
}

.xbox_Y
{
    border: 4px solid #666666;
    background: #FCEC00;
}
.xbox_Y.state-pressed
{
    background: #B8AC00;
    border-color: #222222;
}

.xbox_LB,
.xbox_RB
{
    border: 4px solid #666666;
    background: #dfdfdf;
    
}

.xbox_LB.state-pressed,
.xbox_RB.state-pressed
{
    background: #c0c0c0;
    border-color: #222222;
}

.xbox_start
{
    background: #808080;
    border: 4px solid #666666;
}

.xbox_start.state-pressed
{
    background: #555555;
    border-color: #222222;
}
.xbox_select
{
    background: #707070;
    border: 4px solid #666666;
}

.xbox_select.state-pressed
{
    background: #444444;
    border-color: #222222;
}

.xbox_guide
{
    background: #1F7F27;
    border: 4px solid #666666;
}

.xbox_guide.state-pressed
{
    background: #1F5727;
    border-color: #222222;
}